<div class="section-home about-us fadeIn animated">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="about-us-col">
          <div class="col-icon-wrapper">
            <%= image_tag "icons/our-mission-icon.png" %>
          </div>
          <h3 class="col-title">our mission</h3>
          <div class="col-details">
            <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>
          </div>
          <a href="#" class="btn btn-primary"> Read more </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="about-us-col">
          <div class="col-icon-wrapper">
            <%= image_tag "icons/make-donation-icon.png" %>
          </div>
          <h3 class="col-title">Make donations</h3>
          <div class="col-details">
            <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>
          </div>
          <a href="#" class="btn btn-primary"> Read more </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="about-us-col">
          <div class="col-icon-wrapper">
            <%= image_tag "icons/help-icon.png" %>
          </div>
          <h3 class="col-title">Help & support</h3>
          <div class="col-details">
            <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>
          </div>
          <a href="#" class="btn btn-primary"> Read more </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="about-us-col">
          <div class="col-icon-wrapper">
            <%= image_tag "icons/programs-icon.png" %>
          </div>
          <h3 class="col-title">our programs</h3>
          <div class="col-details">
            <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>
          </div>
          <a href="#" class="btn btn-primary"> Read more </a>
        </div>
      </div>
    </div>
  </div>
</div>
